<aside id="sidebar">
    <div class="sidebar-item">
        <section class="sidebar-header">
            <div class="sidebar-main-img">
                <img src="/img/main_img.png" alt="메인이미지" />
            </div>
            <div id="sidebar-profile">

            </div>
            <div id="sidebar-calendar">
                <a href="/calendar">일정</a>
            </div>
        </section>
        <nav>
            <ul class="category">
                <li>영화</li>
                <li>도서</li>
                <li>일기</li>
                <li>가계부</li>
                <li>기록</li>
            </ul>
        </nav>
    </div>
</aside>