<aside id="sidebar">
    <div class="sidebar-item">
        <section class="sidebar-header">
            <div class="sidebar-main-img">
                <img src="/img/main_img.png" alt="메인이미지" />
            </div>
            <div id="sidebar-jemibot">
                #재미봇
            </div>
        </section>
        <nav>
            <ul class="category">
                <li>cate1</li>
                <li>cate2</li>
                <li>cate3</li>
                <li>cate4</li>
                <li>cate5</li>
            </ul>
        </nav>
    </div>
</aside>